<ul class="nav navbar-nav navbar-right nav-pills nav-stacked">
  <li class="active">
    <a href="/carts/<%=session[:cart_id] %>">
      <span class="badge pull-right"><%= number_to_currency(@cart.total_price) %> </span>
      There are <%= cart.total_quantity %> books in your cart.
    </a>
  </li>
  <li>
  	<%= button_to "Checkout", new_order_path, method: :get, class: "btn btn-success btn-xs ", id: "checkout-btn" %>
  </li>
</ul>