<div id="partial_cart" class="alert alert-info" >
	<p id='quantity'>
	<span  class="glyphicon glyphicon-shopping-cart"></span>
	<%= cart.total_quantity %> Books |
	<span  class="glyphicon glyphicon-usd"></span>
	<%= @cart.total_price %></p>
</div>