<div>
	<% if notice %>
		<p id="notice" class="alert alert-danger"><%= notice %></p>
	<% end %>
	
</div>



<div id="cart">
	<h2>Your Cart</h2>
 
<div class="container-fluid">
<table  id="table" class="table table-bordered table-hover">
  <thead>
	  	<th>Title</th>
	  	<th>Price</th>
	  	<th>Quantity</th>
	  	<th>Total</th>
	  	<th>
		  	<%= button_to @cart, {remote: true, method: :delete, data: {message: 'Está certo que deseja esvaziar seu carrinho?' } , class: "btn btn-lg"} do %>
		  		<i class="glyphicon glyphicon-remove"></i>
		  	<% end %>
	  	</th>
	  </thead>
			<%= render @cart.line_items %>
 			<%= render @cart %>
  </table>
</div>

</div> 