/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require bootstrap/bootstrap.min
 *= require_tree .
 *= require layout
*/

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  	url('../assets/glyphicons-halflings-regular.woff') format('woff'),
  	url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
 
body {
  padding-top: 60px;
  margin: 0 auto;

  	.all {
		  margin-right: 20%;
		  margin-left: 20%;
		  min-width: 60%;
		  max-width: 80%;
 
	  .top {
		  width: 100%;
		  display: inline-block;
		 
		  .dl-menu.dl-animate-out-1 {
	        animation: MenuAnimOut1 0.4s linear forwards;
		  }
 
		 	@keyframes MenuAnimOut1 {
	  	  50% {
	  	    transform: translateZ(-250px) rotateY(30deg);
	  	  }
	  	  75% {
			    transform: translateZ(-372.5px) rotateY(15deg);
			    opacity: .5;
			  }
	  	  100% {
			    transform: translateZ(-500px) rotateY(0deg);
			    opacity: 0;
	  	  }
 			}

	  	.dl-menu.dl-animate-in-1 {
	  	  animation: MenuAnimIn1 0.3s linear forwards;
	  	}
 
	  	@keyframes MenuAnimIn1 {
	  	  0% {
			    transform: translateZ(-500px) rotateY(0deg);
			    opacity: 0;
	  	  }
	      20% {
		      transform: translateZ(-250px) rotateY(30deg);
		      opacity: 0.5;
	  		}
	  		100% {
				  transform: translateZ(0px) rotateY(0deg);
				  opacity: 1;
	  		}
	  	}
 
		  .dl-menu, .page_title, .cart {
		  	float: left;
		  }
		 
		  .resp_menu, .cart {
		 	  width: 25%;
		  }

		  .page_title {
			  width: 40%;
			  vertical-align: middle;
			  margin-right: 5%;
			  margin-left: 5%;
			 font-size: 20px;
		  }
 
		  .cart {
			  float: right;
			  width: 20%;
			  height: 100%;
		  }
 
		  #main {
			  width: 100%;
		  }
  	}
  }
}