// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
  text-align: center;
}

#products-holder {
  /* Displays all elements spaced evenly and wrapps the self content in a flexible way*/
  display: flex;
  flex-flow: row-wrap;
  align-content: space-between;

  .list-line-holder{
    margin-right: 5%;
    /* Pseudo-selectors for removing the margin-right
    from every 3n+3 element */
    :nth-child(5n+5) { margin-right: 0;}
   
    .image-holder {
      -webkit-box-shadow: 0px 0px 11px 1px rgba(50, 50, 50, 0.53);
      -moz-box-shadow:    0px 0px 11px 1px rgba(50, 50, 50, 0.53);
      box-shadow:         0px 0px 11px 1px rgba(50, 50, 50, 0.53);
    }
    
    .list-actions{
      padding-top: 5%;
      text-align: center;
    }
  }
}

